USE [Digital]
GO
/****** Object:  Table [dbo].[news]    Script Date: 6/21/2021 3:54:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NOT NULL,
	[image] [varchar](max) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[timePost] [datetime] NOT NULL,
	[author] [varchar](max) NOT NULL,
	[shortDes] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Article1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[news] ON 

SET IDENTITY_INSERT [dbo].[news] OFF
GO
