<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <env-entry>
        <env-entry-name>image</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>images/</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>serverName</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>localhost</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>portNumber</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>1433</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>dbName</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Digital</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>sa</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>123</env-entry-value>
    </env-entry>
</web-app>
